In [1]:
import requests
import pandas as pd
import os 
import numpy as np
from sqlalchemy import create_engine

In [2]:
path = "Resources/PoGoKaggle.csv"

In [3]:

kaggle = pd.read_csv(path)

In [4]:
kaggle['Stats'] = kaggle['Defense'] + kaggle['Attack']

In [25]:
Org_kaggle = kaggle[['Pokedex' , 'Name', 'Generation' , 'Primary' , 'Secondary' , 'MaxHP', 'MaxCP' , 'Stamina' , 'Attack' , 'Defense' , 'Stats' , 
       'Capture_rate' , 'Escape_rate', 'Weight' , 'Height' , 'Legendary']]

# Org_kaggle[kaggle.duplicated(keep=False, subset =['MaxHP', 'MaxCP' , 'Stamina' , 'Attack' , 'Defense' , 'Stats'])]

In [26]:

Split_kaggle = np.split(Org_kaggle, [5,11] , axis =1)
Split_kaggle[1]

    MaxHP MaxCP Stamina Attack Defense Stats
0     113  1115     128    118     111   229
1     134  1699     155    151     143   294
2     162  2720     190    198     189   387
3     105   980     118    116      93   209
4     131  1653     151    158     126   284
..    ...   ...     ...    ...     ...   ...
644   173  3588     205    261     182   443
645   205  3575     245    246     170   416
646   177  3698     209    260     192   452
647   189  3972     225    250     225   475
648   149  3353     174    252     199   451

[649 rows x 6 columns]

In [27]:
Battle_K = Split_kaggle[1]
Battle_K['Primary_Key'] = Battle_K.index
Battle_K = Battle_K.drop_duplicates( subset =  ['MaxHP', 'MaxCP' , 'Stamina' , 'Attack' , 'Defense' , 'Stats'])
Battle_K

    MaxHP MaxCP Stamina Attack Defense Stats  Primary_Key
0     113  1115     128    118     111   229            0
1     134  1699     155    151     143   294            1
2     162  2720     190    198     189   387            2
3     105   980     118    116      93   209            3
4     131  1653     151    158     126   284            4
..    ...   ...     ...    ...     ...   ...          ...
640   160  3345     188    266     164   430          640
644   173  3588     205    261     182   443          644
645   205  3575     245    246     170   416          645
647   189  3972     225    250     225   475          647
648   149  3353     174    252     199   451          648

[620 rows x 7 columns]

In [28]:
Org_kaggle['Battle_FK'] = 0


for index, row in Org_kaggle.iterrows():
    for index2, row2 in Battle_K.iterrows():
        if row[5] == row2[0] and row[6] == row2[1] and row[7] == row2[2] and row[8] == row2[3] and row[9] == row2[4] and row[10] == row2[5]:
            Org_kaggle.loc[index, 'Battle_FK'] = int(row2[6])

C:\Users\Lenny Ovo\anaconda3\lib\site-packages\ipykernel_launcher.py:1: SettingWithCopyWarning:
A value is trying to be set on a copy of a slice from a DataFrame.
Try using .loc[row_indexer,col_indexer] = value instead

See the caveats in the documentation: https://pandas.pydata.org/pandas-docs/stable/user_guide/indexing.html#returning-a-view-versus-a-copy
  """Entry point for launching an IPython kernel.
C:\Users\Lenny Ovo\anaconda3\lib\site-packages\pandas\core\indexing.py:965: SettingWithCopyWarning:
A value is trying to be set on a copy of a slice from a DataFrame.
Try using .loc[row_indexer,col_indexer] = value instead

See the caveats in the documentation: https://pandas.pydata.org/pandas-docs/stable/user_guide/indexing.html#returning-a-view-versus-a-copy
  self.obj[item] = s

In [29]:
Catch_K= Split_kaggle[2]
Catch_K['C_Primary_Key'] = Catch_K.index
Catch_K = Catch_K.drop_duplicates( subset =  ['Capture_rate' , 'Escape_rate', 'Weight' , 'Height' , 'Legendary'])
Catch_K

    Capture_rate Escape_rate Weight Height Legendary  C_Primary_Key
0            0.2         0.1    6.9    0.7        No              0
1            0.1        0.07     13      1        No              1
2           0.05        0.05    100      2        No              2
3            0.2         0.1    8.5    0.6        No              3
4            0.1        0.07     19    1.1        No              4
..           ...         ...    ...    ...       ...            ...
644         0.02        0.01     68    1.5        Sí            644
645         0.02        0.01    325      3        Sí            645
646         0.02        0.01   48.5    1.4        No            646
647         0.02        0.01    6.5    0.6        No            647
648         0.02        0.01   82.5    1.5        No            648

[644 rows x 6 columns]

In [30]:
Org_kaggle['Catch_FK'] = 0

for index, row in Org_kaggle.iterrows():
    for index2, row2 in Catch_K.iterrows():
        if row[11] == row2[0] and row[12] == row2[1] and row[13] == row2[2] and row[14] == row2[3] and row[15] == row2[4]:
            Org_kaggle.loc[index, 'Catch_FK'] = int(row2[5])

C:\Users\Lenny Ovo\anaconda3\lib\site-packages\ipykernel_launcher.py:1: SettingWithCopyWarning:
A value is trying to be set on a copy of a slice from a DataFrame.
Try using .loc[row_indexer,col_indexer] = value instead

See the caveats in the documentation: https://pandas.pydata.org/pandas-docs/stable/user_guide/indexing.html#returning-a-view-versus-a-copy
  """Entry point for launching an IPython kernel.
C:\Users\Lenny Ovo\anaconda3\lib\site-packages\pandas\core\indexing.py:965: SettingWithCopyWarning:
A value is trying to be set on a copy of a slice from a DataFrame.
Try using .loc[row_indexer,col_indexer] = value instead

See the caveats in the documentation: https://pandas.pydata.org/pandas-docs/stable/user_guide/indexing.html#returning-a-view-versus-a-copy
  self.obj[item] = s

In [31]:
Org_kaggle = Org_kaggle[['Pokedex' , 'Name', 'Generation' , 'Primary' , 'Secondary','Catch_FK' , 'Battle_FK']]
Org_kaggle = Org_kaggle.rename(columns = {'Pokedex' : 'pokedex', 'Name' :'name', 'Generation' :'generation' , 'Primary' :'primary_type' , 'Secondary' : 'secondary_type','Catch_FK'  :'catch_fk' , 'Battle_FK' : 'battle_fk'})
Org_kaggle

,pokedex,name,generation,primary_type,secondary_type,catch_fk,battle_fk
0,1,Bulbasaur,1,Grass,Poison,0,0
1,2,Ivysaur,1,Grass,Poison,1,1
2,3,Venusaur,1,Grass,Poison,2,2
3,4,Charmander,1,Fire,None,3,3
4,5,Charmeleon,1,Fire,None,4,4
...,...,...,...,...,...,...,...
644,645,Landorus,5,Ground,Flying,644,644
645,646,Kyurem,5,Dragon,Ice,645,645
646,647,Keldeo,5,Water,Fighting,646,638
647,648,Meloetta,5,Normal,Psychic,647,647
648,649,Genesect,5,Bug,Steel,648,648

In [36]:
Org_kaggle['id'] = Org_kaggle.index

In [32]:
Catch_K = Catch_K.rename(columns = {'Capture_rate' : 'capture_rate' , 'Escape_rate' :'escape_rate', 'Weight' : 'weight' , 'Height' : 'height' , 'Legendary':'legendary' , 'C_Primary_Key' : 'c_primary_key'})
Catch_K

    capture_rate escape_rate weight height legendary  c_primary_key
0            0.2         0.1    6.9    0.7        No              0
1            0.1        0.07     13      1        No              1
2           0.05        0.05    100      2        No              2
3            0.2         0.1    8.5    0.6        No              3
4            0.1        0.07     19    1.1        No              4
..           ...         ...    ...    ...       ...            ...
644         0.02        0.01     68    1.5        Sí            644
645         0.02        0.01    325      3        Sí            645
646         0.02        0.01   48.5    1.4        No            646
647         0.02        0.01    6.5    0.6        No            647
648         0.02        0.01   82.5    1.5        No            648

[644 rows x 6 columns]

In [33]:
Battle_K = Battle_K.rename(columns = {'MaxHP' :  'maxhp' , "MaxCP" : 'maxcp' , "Stamina" : 'stamina' , 'Attack' : 'attack' ,  'Defense' : 'defense' , 'Stats' : 'stats' , 'Primary_Key' : 'primary_key'})
Battle_K

    maxhp maxcp stamina attack defense stats  primary_key
0     113  1115     128    118     111   229            0
1     134  1699     155    151     143   294            1
2     162  2720     190    198     189   387            2
3     105   980     118    116      93   209            3
4     131  1653     151    158     126   284            4
..    ...   ...     ...    ...     ...   ...          ...
640   160  3345     188    266     164   430          640
644   173  3588     205    261     182   443          644
645   205  3575     245    246     170   416          645
647   189  3972     225    250     225   475          647
648   149  3353     174    252     199   451          648

[620 rows x 7 columns]

In [41]:
Battle_K

    maxhp maxcp stamina attack defense stats  primary_key
0     113  1115     128    118     111   229            0
1     134  1699     155    151     143   294            1
2     162  2720     190    198     189   387            2
3     105   980     118    116      93   209            3
4     131  1653     151    158     126   284            4
..    ...   ...     ...    ...     ...   ...          ...
640   160  3345     188    266     164   430          640
644   173  3588     205    261     182   443          644
645   205  3575     245    246     170   416          645
647   189  3972     225    250     225   475          647
648   149  3353     174    252     199   451          648

[620 rows x 7 columns]

In [44]:
rds_connection_string = "ash:catchem@localhost:5432/ETL"
engine = create_engine(f'postgresql://{rds_connection_string}')

In [45]:
engine.table_names()

['kaggle_catch', 'kaggle_name', 'kaggle_battle', 'Kaggle_Battle']

In [43]:
Catch_K.to_sql(name='kaggle_catch', con=engine, if_exists='append', index=False)

IntegrityError: (psycopg2.errors.UniqueViolation) duplicate key value violates unique constraint "kaggle_catch_pkey"
DETAIL:  Key (c_primary_key)=(0) already exists.

[SQL: INSERT INTO kaggle_catch (capture_rate, escape_rate, weight, height, legendary, c_primary_key) VALUES (%(capture_rate)s, %(escape_rate)s, %(weight)s, %(height)s, %(legendary)s, %(c_primary_key)s)]
[parameters: ({'capture_rate': 0.2, 'escape_rate': 0.1, 'weight': 6.9, 'height': 0.7, 'legendary': 'No', 'c_primary_key': 0}, {'capture_rate': 0.1, 'escape_rate': 0.07, 'weight': 13.0, 'height': 1.0, 'legendary': 'No', 'c_primary_key': 1}, {'capture_rate': 0.05, 'escape_rate': 0.05, 'weight': 100.0, 'height': 2.0, 'legendary': 'No', 'c_primary_key': 2}, {'capture_rate': 0.2, 'escape_rate': 0.1, 'weight': 8.5, 'height': 0.6, 'legendary': 'No', 'c_primary_key': 3}, {'capture_rate': 0.1, 'escape_rate': 0.07, 'weight': 19.0, 'height': 1.1, 'legendary': 'No', 'c_primary_key': 4}, {'capture_rate': 0.05, 'escape_rate': 0.05, 'weight': 90.5, 'height': 1.7, 'legendary': 'No', 'c_primary_key': 5}, {'capture_rate': 0.2, 'escape_rate': 0.1, 'weight': 9.0, 'height': 0.5, 'legendary': 'No', 'c_primary_key': 6}, {'capture_rate': 0.1, 'escape_rate': 0.07, 'weight': 22.5, 'height': 1.0, 'legendary': 'No', 'c_primary_key': 7}  ... displaying 10 of 644 total bound parameter sets ...  {'capture_rate': 0.02, 'escape_rate': 0.01, 'weight': 6.5, 'height': 0.6, 'legendary': 'No', 'c_primary_key': 647}, {'capture_rate': 0.02, 'escape_rate': 0.01, 'weight': 82.5, 'height': 1.5, 'legendary': 'No', 'c_primary_key': 648})]
(Background on this error at: http://sqlalche.me/e/gkpj)

In [46]:
Battle_K.to_sql(name='kaggle_battle', con=engine, if_exists='append', index=False)

In [48]:
Org_kaggle.to_sql(name='kaggle_name', con=engine, if_exists='append', index=False)

In [50]:
pd.read_sql_query('select * from kaggle_battle', con=engine).head()

   maxhp  maxcp  stamina  attack  defense  stats  primary_key
0    113   1115      128     118      111    229            0
1    134   1699      155     151      143    294            1
2    162   2720      190     198      189    387            2
3    105    980      118     116       93    209            3
4    131   1653      151     158      126    284            4